.login-section {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5%;
  height: 100%;
  width: 100%;
}
.heading {
  color: rgb(9, 67, 75);
  text-decoration: underline;
  text-shadow: 0 2px white, 0 3px #777;
}
.heading h1 {
  margin: 40px;
}
.login-inner {
  height: 500px;
  width: 50%;
  border: 40px solid #d1cddb;
  background-color: rgb(250, 207, 214);
  border-radius: 25px;
  box-shadow: 10px 50px 100px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%), inset 0 -2px 6px 0 rgb(10 37 64 / 35%);
}
.description {
  font-size: 26px;
  margin: 40px;
}
.googleLogin {
  width: 150px;
  margin: 30px;
}
.googleLogin:hover {
  transform: scale(1.2);
  box-shadow: 0 5px 15px rgba(13, 13, 14, 0.4);
}
.social {
  margin: 70px;
  display: flex;
  justify-content: space-evenly;
}
