/* body {
  background-image: linear-gradient(#BC70A4 50%, rgb(152, 223, 111));
  margin: 0;
} */
body {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(
    140deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  );

  background-repeat: no-repeat;
  background: -webkit-linear-gradient(
    140deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  );

  background: -moz-linear-gradient(
    140deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  );

  background: -ms-linear-gradient(140deg, #eadedb 0%, #bc70a4 50%, #bfd641 75%);

  background: -o-linear-gradient(140deg, #eadedb 0%, #bc70a4 50%, #bfd641 75%);

  background: linear-gradient(140deg, #eadedb 0%, #bc70a4 50%, #bfd641 75%);
}
